

body {
	background:white;
}
	
.header {
	padding:20px;
	margin:25px 25px 25px 100px;
}

.contact_box {
	height:100px;
	width:500px;
	padding:20px 20px 20px 20px;
	margin:25px 25px 25px 25px;
	border:1px solid black;
}

.chocolate_box {
	height:250px;
	width:500px;
	padding:20px 20px 20px 20px;
	margin:25px 25px 25px 25px;
	outline:1px solid black;
}

.sewing_box {
	height:250px;
	width:500px;
	padding:20px 20px 20px 20px;
	margin:25px 25px 25px 25px;
	outline:1px solid black;
}

.magic_box {
	height:250px;
	width:500px;
	padding:20px 20px 20px 20px;
	margin:25px 25px 25px 25px;
	outline:1px solid black;
}

.design_box {
	height:250px;
	width:500px;
	padding:20px 20px 20px 20px;
	margin:25px 25px 25px 25px;
	outline:1px solid black;
}

.box_title {
	margin:0px 0px 20px 0px;
	outline:1px solid white;
}

.tab_container {
	margin:0px 0px 20px 0px;
	outline:0px solid black;
}

.tab {
	display:inline-block;
	cursor:pointer;
	padding:2px 8px 2px 8px;
	margin:0px 2px 0px 0px;
	outline:1px solid black;
}

.here:link, a.here:visited {
	background-color:black;
	color:white;
	padding:3px 35px;
	text-align:center;
	border:1px solid black;
	text-decoration:none;
	display:inline-block;
}

.there:link {
	background-color:white;
	color:black;
	padding:3px 35px;
	text-align:center;
	border:1px solid black;
	text-decoration:none;
	display:inline-block;
}

.slide_container {
	border:0px solid black;
}

.image {
	display:inline-block;
	margin:0px 10px 0px 0px;
	outline:0px solid black;
}

.description {
	display:inline-block;
	width:230px;
	vertical-align:top;
	text-align:justify;
	margin:0px 40px 0px 0px;
	outline:0px solid black;
}

.price {
	display:inline-block;
	vertical-align:top;
	margin:0px 0px 0px 0px;
	outline:0px solid black;
}

.slide {
  display:none;
}

.radio {
  display:none;
}

#chocolate_radio_one:checked ~ .slide_container #chocolate_slide_one,
#chocolate_radio_two:checked ~ .slide_container #chocolate_slide_two,
#sewing_radio_one:checked ~ .slide_container #sewing_slide_one,
#sewing_radio_two:checked ~ .slide_container #sewing_slide_two {
  display:block
}

#chocolate_radio_one:checked ~ .tab_container #chocolate_tab_one,
#chocolate_radio_two:checked ~ .tab_container #chocolate_tab_two,
#sewing_radio_one:checked ~ .tab_container #sewing_tab_one,
#sewing_radio_two:checked ~ .tab_container #sewing_tab_two {
  background:black;
  color:white;
}