:root {
	--width1: 11%;
	--height1: 65%;
}
.title {
	display: block;
	margin-left: 5%;
}

.myimg {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.boxx {
	position: absolute;
	top: 1%;
	left: 39.5%;
	height: 19%;
	width: 20%;
	padding: 1%;
	border: 1px solid black;
}
.left {
	position: absolute;
	top: 1%;
	left: 20%;
	height: var(--height1);
	width: var(--width1);
	background-color: black;
}
.right {
	position: absolute;
	top:  1%;
	right: 20%;
	height: var(--height1);
	width: var(--width1);
	background-color: black;
}
.center {
	position: absolute;
	top: 25.4%;
	left: calc(50% - 8% / 2);
	height: 45%;
	width: 8%;
	background-color: black;
}
.circle1 {
	position: absolute;
	top: 70%;
	left: 20%;
	width: 10%;
	border-radius: 50%;
	border: 1px solid black;
	padding-bottom: 10%;
}
.circle2 {
	position: absolute;
	top: 70%;
	right: 20%;
	width: 10%;
	border-radius: 50%;
	border: 1px solid black;
	padding-bottom: 10%;
}