:root {
	font-family: monospace;
}

body {
	background-color: #6b3e57;
}

a {
	text-decoration-line: none;
}

#box {
	position: fixed;
	align-items: center;
	margin: auto;
}

#description {
	color: rgb(255, 233, 201);
	position: relative;
	font-size: 14px;
	margin: 25px;
}

div[id*="tab"] {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 11px;
	position: fixed;
}

#files {
	color: rgb(137, 135, 158);
	position: fixed;
	right: 15px;
	top: 15px;
	border-width: 2px;
	border-style: solid;
	padding: 5px;
}

#files:hover {
	color: rgb(115, 87, 168);
}