:root {
	font-family: monospace;
}

body {
	background-color: #000000;
}

a {
	text-decoration-line: none;
}

img {
	position: relative;

}

#box {
	position: fixed;
	align-items: center;
	margin: auto;
}

#description {
	color: rgb(255, 233, 201);
	position: relative;
	margin: 28px;
}

div[id*="tab"] {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
}

#files {
	color: rgb(190, 143, 124);
	position: fixed;
	right: 15px;
	top: 15px;
	border-width: 2px;
	border-style: solid;
	padding: 5px;
}

#files:hover {
	color: rgb(15, 4, 36);
}
